/*estilo geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.flex-port{
    display: flex;
    justify-content: space-between;    
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blue;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;

    ;
}

h2 {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2 span{
    color: blue;
}

button:hover{
    box-shadow: 0px 0px 0px rgba(93, 93, 231, 0.91);
    transform: scale(1.08);
 }




/*estilo cabeçalo*/

header{
    padding: 40px 4%;

}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.08);
}


header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}





 /*topo do site*/
 section .topo-do-site{
    padding: 40px 4%;
 }

 section .topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
 }

 .topo-do-site h1{
    color: white;
    font-size: 42px;
    line-height: 40px;
 }

 .topo-do-site .txt-topo-site h1 span{
    color: blue;
font-size: 84px;    
 }

 .topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0px 40px
 }


.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

 @keyframes flutuar{
    0%{
        top: 0;

    }
    100%{
        top: 30px;
    }
 }


 /* ESTILO DAS ESPECIALIDADES */

 section .especialidades{
    padding: 40px 4%;
    
 }

 section .especialidades .flex{
    gap: 60px;
 }

 .especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;

 }

 .especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff72;
 }

 .especialidades .especialidades-box i{
    font-size: 70px;
    color: blue;
 }

 .especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
 }

/*ESTILO DO SOBRE*/

section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2 .title-sobre{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 .title-sobre span{
     color: blue;
     display: block;

}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;

}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 40%;
    border: none;
    background-color: blue;
    font-size: 22px;
    cursor: pointer;
    margin: 0 8px;
}

/*ESTILO DO MEUS PORTIFOLIOS*/
section .portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff8e;
}

section .portfolio .flex-port{
    justify-content: space-between;
    margin-top: 60px;
   
}

.img-port{
    width: 360px;
    height: 460px;
    border-radius: 40px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
     cursor: pointer;
     position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000ac;
    border-radius: 40px;
    display: flex;
    justify-content: center ;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/*ESTILO DO FORMULARIO*/ 

section.formulario{
    margin: 0;
    padding: 40px ;
}

section .formulario .flex-port{
    text-align: center;
    
}